beautifulsoup4==4.12.2
black==23.3.0
bs4==0.0.1
click==8.1.3
flake8==6.0.0
lxml==4.9.2
mccabe==0.7.0
mypy==1.2.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
pkg_resources==0.0.0
platformdirs==3.5.0
pycodestyle==2.10.0
pyflakes==3.0.1
soupsieve==2.4.1
tomli==2.0.1
typing_extensions==4.5.0
